<h1>You've added a new Car!</h1>

  <p>@Model.GetMakeModel()</p>
  <p>@Model.GetColor()</p>
  <p>@Model.GetYear()</p>
  <p>@Model.GetMileage()</p>


@* <p>@car.GetPrice()</p> *@
<p><a href="/form">Add another car</a></p>
<p><a href="/">View current Cars</a></p>
